.page_tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    color: black;
}

.message_list_layer {
    position: absolute;
    width: 100%;
    left: 15%;
    display: inline-flex;
    flex-direction: column;
}

.message_list_scroller {
    position: absolute;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.message_input {
    position: relative;
    width: 85%;
}

.message_input_layout {
    position: absolute;
    right: 0;
    bottom: 0;
}

.scroll_to_bottom_icon {
    position: relative;
    right: 20px;
}