<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mobile Cloud</title>
</head>

<body>
<form method="post" th:action="@{/profile}" th:object="${user}">
    <div align="center">
        <h1>REGISTRATION:</h1>

        <div class="username">
            <h4>Print your username: </h4>
            <input type="text" th:field="*{username}"></input>
        </div>
        <div class="password">
            <h4>Print your password: </h4>
            <input type="password" th:field="*{password}"></input>
        </div>


        <div class="register_button" style="margin-top: 1%;">
            <button>REGISTER NOW</button>
         </div>
    </div>
</form>
</body>
</html>